/nbproject/*
/app/tmp/*
app/conf/local/*
setup.php
/media/*
!/media/.htaccess
!/media/README.md
.DS_Store
.settings
.project
.idea/
*.un~
*.sublime-*
*.swp
.vagrant/
themes/
/themes/
/themes/*
/import/*
/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/*
/app/lib/core/Parsers/dompdf/lib/fonts/*fm.php
/app/log/log*.txt
/app/log/*.log
/themes/default/css/local.css
/themes/default/views/bundles/inspector_info.php
/support/scripts/*.php
/support/scripts/*.sh
app/log/.htaccess
app/tmp/.htaccess
themes/default/css/base.css
themes/default/css/images/ui-bg_flat_0_aaaaaa_40x100.png
themes/default/css/images/ui-bg_glass_55_fbf9ee_1x400.png
themes/default/css/images/ui-bg_glass_65_ffffff_1x400.png
themes/default/css/images/ui-bg_glass_75_dadada_1x400.png
themes/default/css/images/ui-bg_glass_75_e6e6e6_1x400.png
themes/default/css/images/ui-bg_glass_75_ffffff_1x400.png
themes/default/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png
themes/default/css/images/ui-bg_inset-soft_95_fef1ec_1x100.png
themes/default/css/images/ui-icons_222222_256x240.png
themes/default/css/images/ui-icons_2e83ff_256x240.png
themes/default/css/images/ui-icons_454545_256x240.png
themes/default/css/images/ui-icons_888888_256x240.png
themes/default/css/images/ui-icons_cd0a0a_256x240.png
themes/default/css/login.css
themes/default/css/wide.css
themes/default/graphics/colorpicker/blank.gif
themes/default/graphics/colorpicker/colorpicker_background.png
themes/default/graphics/colorpicker/colorpicker_hex.png
themes/default/graphics/colorpicker/colorpicker_hsb_b.png
themes/default/graphics/colorpicker/colorpicker_hsb_h.png
themes/default/graphics/colorpicker/colorpicker_hsb_s.png
themes/default/graphics/colorpicker/colorpicker_indic.gif
themes/default/graphics/colorpicker/colorpicker_overlay.png
themes/default/graphics/colorpicker/colorpicker_rgb_b.png
themes/default/graphics/colorpicker/colorpicker_rgb_g.png
themes/default/graphics/colorpicker/colorpicker_rgb_r.png
themes/default/graphics/colorpicker/colorpicker_select.gif
themes/default/graphics/colorpicker/colorpicker_submit.png
themes/default/graphics/colorpicker/custom_background.png
themes/default/graphics/colorpicker/custom_hex.png
themes/default/graphics/colorpicker/custom_hsb_b.png
themes/default/graphics/colorpicker/custom_hsb_h.png
themes/default/graphics/colorpicker/custom_hsb_s.png
themes/default/graphics/colorpicker/custom_indic.gif
themes/default/graphics/colorpicker/custom_rgb_b.png
themes/default/graphics/colorpicker/custom_rgb_g.png
themes/default/graphics/colorpicker/custom_rgb_r.png
themes/default/graphics/colorpicker/custom_submit.png
themes/default/graphics/colorpicker/select.png
themes/default/graphics/colorpicker/select2.png
themes/default/graphics/colorpicker/slider.png
themes/default/graphics/colorpicker/Thumbs.db
themes/default/graphics/icons/asc.gif
themes/default/graphics/icons/bg.gif
themes/default/graphics/icons/desc.gif
themes/default/graphics/icons/warning_small.gif
themes/default/graphics/threesixty/360.png
themes/default/graphics/threesixty/360_icon.png
themes/default/graphics/threesixty/sprites.png
themes/default/views/.htaccess
themes/default/views/administrate/setup/Browse/ajax_browse_facet_html.php
themes/default/views/administrate/setup/Results/ca_list_items_results_list_html.php
themes/default/views/administrate/setup/Search/ajax_refine_facet_html.php
themes/default/views/bundles/ca_attributes.php
themes/default/views/bundles/ca_collections.php
themes/default/views/bundles/ca_entities.php
themes/default/views/bundles/ca_list_items.php
themes/default/views/bundles/ca_loans.php
themes/default/views/bundles/ca_movements.php
themes/default/views/bundles/ca_object_lots.php
themes/default/views/bundles/ca_object_representations.php
themes/default/views/bundles/ca_object_representations_media_display.php
themes/default/views/bundles/ca_objects.php
themes/default/views/bundles/ca_objects_deaccession.php
themes/default/views/bundles/ca_objects_location.php
themes/default/views/bundles/ca_occurrences.php
themes/default/views/bundles/ca_places.php
themes/default/views/bundles/ca_sets.php
themes/default/views/bundles/ca_site_page_media.php
themes/default/views/bundles/ca_site_pages_content.php
themes/default/views/bundles/ca_storage_locations.php
themes/default/views/bundles/ca_tour_stops.php
themes/default/views/editor/collections/summary_html.php
themes/default/views/editor/entities/summary_html.php
themes/default/views/editor/generic/ajax_media_attribute_list_html.php
themes/default/views/editor/loans/summary_html.php
themes/default/views/editor/movements/summary_html.php
themes/default/views/editor/object_lots/summary_html.php
themes/default/views/editor/object_representations/ajax_representation_image_center_editor_html.php
themes/default/views/editor/object_representations/summary_html.php
themes/default/views/editor/objects/quickadd_html.php
themes/default/views/editor/objects/summary_html.php
themes/default/views/editor/occurrences/summary_html.php
themes/default/views/editor/places/summary_html.php
themes/default/views/editor/representation_annotations/summary_html.php
themes/default/views/editor/storage_locations/summary_html.php
themes/default/views/editor/tour_stops/summary_html.php
themes/default/views/editor/tours/summary_html.php
themes/default/views/find/Browse/ajax_browse_facet_html.php
themes/default/views/find/Results/ca_collections_results_full_html.php
themes/default/views/find/Results/ca_collections_results_list_html.php
themes/default/views/find/Results/ca_collections_results_thumbnail_html.php
themes/default/views/find/Results/ca_entities_results_full_html.php
themes/default/views/find/Results/ca_entities_results_list_html.php
themes/default/views/find/Results/ca_entities_results_thumbnail_html.php
themes/default/views/find/Results/ca_loans_results_list_html.php
themes/default/views/find/Results/ca_movements_results_list_html.php
themes/default/views/find/Results/ca_object_lots_results_full_html.php
themes/default/views/find/Results/ca_object_lots_results_list_html.php
themes/default/views/find/Results/ca_object_lots_results_thumbnail_html.php
themes/default/views/find/Results/ca_object_representations_results_list_html.php
themes/default/views/find/Results/ca_objects_results_full_html.php
themes/default/views/find/Results/ca_objects_results_list_html.php
themes/default/views/find/Results/ca_objects_results_thumbnail_html.php
themes/default/views/find/Results/ca_occurrences_results_full_html.php
themes/default/views/find/Results/ca_occurrences_results_list_html.php
themes/default/views/find/Results/ca_occurrences_results_thumbnail_html.php
themes/default/views/find/Results/ca_places_results_list_html.php
themes/default/views/find/Results/ca_storage_locations_results_list_html.php
themes/default/views/find/Results/ca_tour_stops_results_list_html.php
themes/default/views/find/Results/ca_tours_results_list_html.php
themes/default/views/find/Results/current_sort_html.php
themes/default/views/find/Results/related_list_results_list_html.php
themes/default/views/find/Results/search_options_html.php
themes/default/views/find/Search/ajax_refine_facet_html.php
themes/default/views/find/Search/ca_collections_search_advanced_html.php
themes/default/views/find/Search/ca_collections_search_basic_html.php
themes/default/views/find/Search/ca_entities_search_advanced_html.php
themes/default/views/find/Search/ca_entities_search_basic_html.php
themes/default/views/find/Search/ca_object_lots_search_advanced_html.php
themes/default/views/find/Search/ca_object_lots_search_basic_html.php
themes/default/views/find/Search/ca_occurrences_search_advanced_html.php
themes/default/views/find/Search/ca_occurrences_search_basic_html.php
themes/default/views/find/Search/search_advanced_form_html.php
themes/default/views/find/Search/widget_ca_collections_search_tools.php
themes/default/views/library/checkin/ajax_data_json.php
themes/default/views/library/checkout/ajax_data_json.php
themes/default/views/library/checkout/items_html.php
themes/default/views/lookup/ajax_taxonomy_list_html.php
themes/default/views/manage/export/download_export_binary.php
themes/default/views/manage/export/export_destination_html.php
themes/default/views/manage/Pawtucket/edit_global_values_html.php
themes/default/views/manage/set_list_by_user_html.php
themes/default/views/manage/set_list_html.php
themes/default/views/manage/sets/paging_controls_html.php
themes/default/views/manage/site_pages/media_list_html.php
themes/default/views/manage/tools/download_binary.php
themes/default/views/manage/tools/tool_run_html.php
themes/default/views/manage/tools/tool_settings_html.php
themes/default/views/mediaViewers/Mirador.php
themes/default/views/mediaViewers/Spin360.php
themes/default/views/mediaViewers/UniversalViewerManifest.php
themes/default/views/mediaViewers/UniversalViewerSearchManifest.php
themes/default/views/mediaViewers/viewerInline.php
themes/default/views/mediaViewers/viewerWrapper.php
themes/default/views/pageFormat/menuBar.php
themes/default/views/pageFormat/pageFooter.php
themes/default/views/pageFormat/pageHeader.php
themes/default/views/system/login_html.php
vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/.keep
